<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Caption</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="center-content">
        <div class="container">
            <h2>Edit Your Caption</h2>
            <p>Post ID: <%= post.id %>
            </p>
            <p>Post Username: <%= post.username %>
            </p>
            <form method="post" action="/posts/<%=post.id%>?_method=patch" class="new-post-form">
                <label for="content">Enter your caption:</label>
                <textarea id="content" name="content" rows="10" cols="35"><%= post.content %></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>