<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <form method="post" action="/posts" class="new-post-form">
        <input placeholder="Enter Username" name="username" style="margin-bottom: 10px; padding: 5px 10px;">
        <textarea name="content" placeholder="Write caption"></textarea>
        <input placeholder="Enter image URL" name="image" style="margin-bottom: 10px; padding: 5px 10px;">
        <button>Submit Post</button>
    </form>



</body>

</html>